<header>
  <nav class="navbar">
      <div class="logo">
          <a href="#" target="_blank">Angular</a>
      </div>
      <div class="menu">
          <ul>
              <li><a  class="nav-item">Home</a></li>
              <li><a  class="nav-item">List</a></li>
              <li><a  class="nav-item">ContactUs</a></li>
              <li><a  class="nav-item">AboutUs</a></li>
          </ul>
      </div>
      <div class="join-btn">
          <button class="btn " routerLink="students">Student List</button>
      </div>

  </nav>
</header>

  <router-outlet></router-outlet>

